.positionABSOLUTE {
	position: absolute;
}

.wrongTotalColoring {
  color: red;
}

#level {
  width: 30px;
}

#transform {
	position: relative;
	left: 80px;
}
 body{
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background: linear-gradient(to left, #063970 ,#eab676 )
 }
 .wand{
	height: 100px;
	position: relative;
	left: 10px;
	transition: 2s;
 }
 .wand:active{
	transform: rotate(180deg);
 }
 button{
	position: relative;
	bottom: 50px;
 }
 .level-txt{
	position: relative;
	bottom: 50px;
	margin-left: 10px;
	margin-right: 10px;
 }
 footer{
	position: relative;
	top: 100px;
 }
 .user-input{
	position: relative;
	top: 50px;
 }
 .wand-container{
	position: relative;
	bottom: 25px;
 }
 #increment, #decrement {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 50%;
 }
 h2{
	font-family: 'Caveat', cursive;
 }

 @media screen and (max-width: 1000px){
	footer{
		position: relative;
		top: 500px;
	}
	.wand{
		height: 300px;
	}
	#increment, #decrement {
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	h2{
		font-size: 2rem;
	}
	#inputtext, #outputtext{
		margin-top: 50px;
		margin-bottom: 50px;
		height: 300px;
	}
	.wand-container{
		margin-top: 50px;
		margin-bottom: 50px;
	}
 }